<div id="home-page">
    <div class="firts-banner">
        <img src="../../../assets/img/bannerHome.jpg" alt="banner Rosa " />
        <button class="btn">SHOP NOW</button>
    </div>
<div class="second-baner">
<div class="container">
  <img src="../../../assets/img/zapatosHome.jfif" alt="zapatos hombre">
  <button class="scd r">Hombre </button>

</div>
<div class="container">
  <img src="../../../assets/img/mujerHome2.jfif" alt="zapatos hombre">
  <button class="scd l">Mujer </button>

</div>
</div>
<div class="firts-banner">
  <img src="../../../assets/img/homeBannerBlue.jpg" alt="banner azul musica"/>
</div>
<div class="fourth-baner">
<div class="container f">
  <img src="../../../assets/img/moms.jpg" alt="foto dia de la madre"/>
<button  class="button b">ACCESORIOS</button>
</div>
<div class="container shoes">
  <div class="division">
  <img src="../../../assets/img/mujerZapatos.jpeg" alt="foto zapato mujer"/>
<button class="button">MUJER</button>
</div>
<div class="division">
  <img src="../../../assets/img/zapatosHome2.jfif" alt="foto zapatos hombre"/>
<button class="button">HOMBRE</button>
</div>
</div>
</div>
</div>
