<div id="app-container">
  <header id="app-header">
    <div class="advertisements">HOT SALE - 30% EN SANDALIAS</div>
    <app-nav-bar [first]="first"></app-nav-bar>
    <section class="banner">
      <div class="logo">
        <img class="dog" src="../assets/img/12.jpg" alt="dogImg" />
        <img class="title" src="../assets/img/21.jpg" alt="title" />
      </div>
      <div class="container-search">
        <div class="input-search">
          <input
            type="text"
            class="input"
            maxlength="100"
            placeholder="Buscar"
          />
          <span class="input-icon"> > </span>
        </div>
        <div>
          <p class="text-free">
            ENVIO GRATIS PARA PEDIDOS SUPERIORES A $300.000
          </p>
        </div>
      </div>
    </section>
    <app-nav-bar [second]="second" [buy]="buy"  ></app-nav-bar>
  </header>
  <main >
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
<!-- <router-outlet></router-outlet> -->
